modules = ["python-3.10", "nix"]

hidden = [".pythonlibs"]
run = "gunicorn --bind 0.0.0.0:8080 --reload app:app"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:8080 app:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
